@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background-image: url("images/bus.png");
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  text-align: center;
}

#drowDownDepartureList {
  width: 50%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

#dropDownDepartures:focus{
  color: #00B4CC;
}

.wrap{
  width: 100%;
  margin: 5em auto 2em auto;
}

.icons {
  width: 100%;
  text-align: center;
}

.icons img {
  max-width: 100px;
}

.train, .bus, .plane {
  display: inline-block;
  margin-left: 3em;
}

.departureContainer {
	width: 100%;
	text-align: center;
	
}


.wrapper {
	margin-left: 25%;
	margin-right: 25%;
}

#submitButton {
    background-color: #00B4CC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-top: 10%;
    margin-left: 50%;
	margin-right: 50%;
    cursor: pointer;
}



.greenColour {
  background-color: green;
}

* {
  font-size: 0.98em;
  background-color: green;
}
